<div class="container auth-container animated slideInRight">
  <div class="row auth-form">
    <form class="col s12" (ngSubmit)="register(signUpForm)" id="reg-form" #signUpForm="ngForm">
      <img src="../../../../../assets/icons/icon-72x72.png" alt="" class="center-block">
      <h5 class="center-align">Sign Up</h5>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" autocomplete="off" name="email" type="email" required ngModel>
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" autocomplete="off" type="password" name="password" minlength="6" required ngModel>
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button [disabled]="signUpForm.invalid" class="btn btn-large waves-effect waves-light btn-app-color w-100" type="submit"
            name="action">Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>