<nav>
	<div class="nav-wrapper brand-main-color">
		<a class="brand-logo" routerLink="/home">

			<span class="hide-on-med-and-down">{{'Rasoi' | elipsis:30}}</span>
			<span class="hide-on-med-and-up">{{'Rasoi' | elipsis:30}}</span>
		</a>
		<ul class="hide-on-med-and-down right">
			<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
			<li routerLinkActive="active" *ngIf="!!!auth.isAuthenticated()"><a routerLink="/login">Login</a></li>
			<li routerLinkActive="active" *ngIf="!!!auth.isAuthenticated()" ><a routerLink="/signup">Register</a></li>
			<li routerLinkActive="active" *ngIf="!!auth.isAuthenticated()"><a routerLink="/recipes">Recipes</a></li>
			<li routerLinkActive="active" *ngIf="!!auth.isAuthenticated()"><a routerLink="/shopping-list">Shopping List</a></li>
			<li (click)="subscribeToNotifications()"><a >Get Notified!!</a></li>
			<li (click)="logout()" *ngIf="!!auth.isAuthenticated()"><a>Logout</a></li>
			<!-- <li *ngIf="!!auth.isAuthenticated()">
				<a class='dropdown-trigger btn' appDropdown="" href='#' data-target='dropdown1'>Manage <i class="material-icons">arrow_drop_down</i></a>
	        </li> -->
		</ul>
		<ul id="nav-mobile" class="right sidenav" appSidenav>
			<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
			<li routerLinkActive="active" *ngIf="!!!auth.isAuthenticated()"><a routerLink="/login">Login</a></li>
			<li routerLinkActive="active" *ngIf="!!!auth.isAuthenticated()" ><a routerLink="/signup">Register</a></li>
			<li routerLinkActive="active" *ngIf="!!auth.isAuthenticated()"><a routerLink="/recipes">Recipes</a></li>
			<li routerLinkActive="active" *ngIf="!!auth.isAuthenticated()"><a routerLink="/shopping-list">Shopping List</a></li>
			<li (click)="subscribeToNotifications()"><a >Get Notified!!</a></li>
			<li (click)="logout()" *ngIf="!!auth.isAuthenticated()"><a>Logout</a></li>
			<!-- <li *ngIf="!!auth.isAuthenticated()">
				<a class='dropdown-trigger btn' appDropdown="" href='#' data-target='dropdown1'>Manage <i class="material-icons">arrow_drop_down</i></a>
	        </li> -->
		</ul>
		<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
		<!-- <ul id='dropdown1' class='dropdown-content'>
		    <li class="cursor-pointer" (click)="saveData()"><a>Save Data</a></li>
		    <li class="cursor-pointer" (click)="fetchData()"><a>Fetch Data</a></li>
		</ul> -->
	</div>
</nav>