/* You can add global styles to this file, and also import other style files */

.cursor-pointer{
	cursor: pointer;
}

.btn-app-color {
	background-color: #ea2227;
}

.btn-app-color:hover {
	background-color: #ea2227ab;
}

.auth-form {
	padding: 10px 10px 0px 10px;
	margin-bottom: 0px;
}

.auth-form > form > :last-child {
	margin-bottom: 0px;
}

.auth-container{
	border: 1px solid grey;
	border-radius: 5px;
}

.w-100 {
	width: 100%;
}