<!-- <div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Enter email</label>
        <input type="email" id="email" class="form-control" name="emailField" ngModel  email required #emailTag="ngModel">
        <span class="help-block" *ngIf="emailTag.invalid && emailTag.touched">Please enter a valid email</span>
      </div>
      <div class="form-group">
        <label for="subs">Select Subscription</label>
        <select name="" id="subs" class="form-control" name="subsField" [ngModel]="'a'">
          <option value="b">Basic</option>
          <option value="a">Advanced</option>
          <option value="p">Pro</option>
        </select>
      </div>
      <div class="form-group">
        <label for="pass">Enter password</label>
        <input type="password" class="form-control" name="passField" ngModel required #passTag="ngModel">
        <span *ngIf="passTag.invalid && passTag.touched">Please enter a password</span>
      </div>
      <button type="" class="btn btn-success" [disabled]="f.invalid">Submit</button>

    </form>
</div> -->
<!-- <div class="row">
  <div class="col-xs-12">
    <form [formGroup]="projForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Project Name:</label>
        <input formControlName="projName" type="text" name="" id="name" class="form-control">
        <span class="help-block" *ngIf="projForm.hasError('required', 'projName') && projForm.get('projName').touched">Please enter a project name</span>
        <span class="help-block" *ngIf="projForm.hasError('invalidProjectName', 'projName')&& projForm.get('projName').touched">Sorry, this name is forbidden</span>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input formControlName="userEmail" type="text" name="" id="email" class="form-control">
        <span class="help-block" *ngIf="projForm.hasError('required', 'userEmail') && projForm.get('userEmail').touched">Please enter an email</span>
        <span class="help-block" *ngIf="projForm.hasError('email', 'userEmail')&& projForm.get('userEmail').touched">Please enter a valid email</span>
      </div>
        <div class="form-group">
        <label for="status">Project Status:</label>
        <select formControlName="projStatus" id="status" class="form-control">
          <option *ngFor="let st of status" value="st"> {{st}}</option>
        </select>
      </div>
      <button [disabled]="projForm.invalid" class="btn btn-success">Submit</button>
    </form>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="recForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <button class="btn btn-success" type="submit" [disabled]="recForm.invalid">Save</button>
        <button class="btn btn-danger" type="button" (click)="onCancelEditing()">Cancel</button>
      </div>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="imgUrl">Image Path</label>
        <input type="text" id="imgUrl" class="form-control" formControlName="imgUrl" #imgPath>
      </div>
      <img [src]="imgPath.value" class="img-fluid" alt="Recipe picture">
      <div class="form-group">
        <label for="desc">Description</label>
        <textarea name="" id="desc" cols="30" rows="6" class="form-control" formControlName="desc"></textarea>
      </div>
      <div class="form-group row">
        <div class="col-lg-12" formArrayName="ings">
          <div class="row" *ngFor="let ingCtrl of recForm.get('ings').controls;let i=index" [formGroupName]="i">
            <input type="text" class="form-control col-lg-5" formControlName="name">
            <input type="number" class="form-control col-lg-5" formControlName="amount">
            <button class="btn btn-danger col-lg-2" type="button" (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button class="btn btn-success" type="button" (click)="onAddIngredients()">Add Ingredients</button>
        </div>
      </div>
    </form>
  </div>
</div>

