<div class="row">
  <div class="col m6 l6 s12">
    <img src="../../../../assets/icons/icon-192x192.png" alt="" class="center-block">
  </div>

  <div class="col m6 l6 s12">
    <h3 class="left-align hide-on-small-only">Welcome to Rasoi</h3>
    <h4 class="left-align hide-on-small-only">Epic Grocery List and Recipe book app</h4>
    <h5 class="center-align hide-on-med-and-up">Welcome to Rasoi</h5>
    <h6 class="center-align hide-on-med-and-up">Epic Grocery List and Recipe book app</h6>
  </div>
</div>