<div class="container auth-container">
  <div class="row auth-form">
      <form class="col s12" (ngSubmit)="login(loginForm)" id="reg-form" #loginForm="ngForm">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" autocomplete="off" name="email" type="email"  required ngModel>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" autocomplete="off" name="password" type="password" minlength="6" ngModel required>
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <button [disabled]="loginForm.invalid" class="btn btn-large waves-effect waves-light btn-app-color w-100" type="submit" name="action">Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>