<div class="row">
	<div class="col s12 m12 l12">
		<form>
		   <div class="row">
		        <div class="input-field col s10">
		          <input placeholder="Name" type="text" class="validate" value="{{!!selectedIngredient? selectedIngredient.name : ''}}" #ingredientName>
		        </div>
		        <div class="input-field col s2">
		          <input placeholder="Amount" min=1  type="number" value="{{!!selectedIngredient? selectedIngredient.amount : ''}}" class="validate" #ingredientAmount>
		        </div>
        	</div>
        	<div class="row">
        		<div class="col s12">
        			<div class="right">
	        			<input class="btn" type="submit" value="Add Ingredient" (click)="addIngredient()" />
	        			<a class="btn red" style="cursor: pointer; margin-left: 10px;" (click)="clear()">Clear</a>
        			</div>
        		</div>
        	</div>
		</form>
	</div>
</div>
<div class="row">
  <div class="col s12 m12 l12">
    <ul class="collection recipe-collection" *ngIf="!!recipe.ingredients && recipe.ingredients.length > 0">
      <li class="collection-item recipe-collection-item avatar cursor-pointer" *ngFor="let ingredient of recipe.ingredients" (click)="setSelectedIngredient(ingredient)" [ngClass]="{active: !!selectedIngredient && selectedIngredient.name == ingredient.name}">
        <img src="{{ingredient.imageSrc}}" class="responsive-img circle" />
        <span class="title">{{ingredient.name}} ({{ingredient.amount}})</span>
      </li>
    </ul>
  </div>
</div>