<nav>
	<div class="nav-wrapper grey">
		<a class="brand-logo logo" href="#">
			<img src="../assets/recipe.png" />
			<span>Recipe Book</span>
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li (click)="onDisplayRecipes()" [ngClass]="{active: !!recipesVisible}"><a href="#">Recipes</a></li>
			<li (click)="onDisplayShoppingList()" [ngClass]="{active: !!!recipesVisible}"><a href="#">Shopping List</a></li>
			<li>
				<a class='dropdown-trigger btn' appDropdown="" href='#' data-target='dropdown1'>Manage</a>
	        </li>
			  <!-- Dropdown Structure -->
			  
		</ul>
		<ul id='dropdown1' class='dropdown-content'>
			    <li><a href="#!">one</a></li>
			    <li><a href="#!">two</a></li>
			    <li class="divider" tabindex="-1"></li>
			    <li><a href="#!">three</a></li>
			    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
			    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
			  </ul>
	</div>
</nav>