<nav>
	<div class="nav-wrapper grey">
		<a class="brand-logo logo" href="#">
			<img src="../assets/recipe.png" />
			<span>Recipe Book</span>
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
			<li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
			<li>
				<a class='dropdown-trigger btn' appDropdown="" href='#' data-target='dropdown1'>Manage</a>
	        </li>
			  <!-- Dropdown Structure -->
			  
		</ul>
		<ul id='dropdown1' class='dropdown-content'>
		    <li class="cursor-pointer"><a>Save Data</a></li>
		    <li class="cursor-pointer"><a>Fetch Data</a></li>
		</ul>
	</div>
</nav>