<div *ngIf="recipe">
  <div class="row">
    <div class="col-lg-12">
      <img [src]="recipe.imgPath" class="img-fluid" alt="{{ recipe.name}}">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1>{{recipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="btn-group">
        <button class="dropdown-toggle btn btn-primary" appDropdown>Manage Recipe <span class="caret"></span> </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" style="cursor:pointer" (click)="toShoppingList()">To shopping list</a></li>
          <li><a class="dropdown-item" style="cursor:pointer" (click)="navToRecipeEdit()">Edit recipe</a></li>
          <li><a class="dropdown-item" style="cursor:pointer" (click)="onDeleteRecipe()">Delete recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 p-3">
      {{recipe.desc}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ing of recipe.ings">
            {{ing.name}}-{{ing.amount}}
        </li>
      </ul>
    </div>
  </div>
</div>